.Dashboard{
  margin: 10vh 0 10vh 0;
}

.CardsList{
  max-height: 70vh;
  overflow: auto;
}

.subTabContainer{
  min-height: 50vh;
  text-align: center;
}

.notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 100%);
  width: 100%;
  text-align: center;
}

